
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */